/* Global */
:root {
    /* App color */
    --color-primary:var(var(--color-black));
    --color-primary-variant:var(--color-gray);
    --color-accent-variant:var(var(--color-blue);)
    --color-accent:var(var(--color-blue));
    --color-text:var(--color-white);
--color-white: #ffffff;

--color-black: #050a13;

--color-blue: #03e8f9;

--color-orange: #fd6413;

--color-gray: #1b1e26;

/* Size */

--size-max-width:1200px;
}




*{
    box-sizing: border-box ;
}

body{
    font-family:'Open Sans', sans-serif;
    margin: 0;
}
h1,h2,h3,p,ul{
    margin:0;
}

ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--color-text);
}

button{
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus{
    outline: 1px solid transparent;
}
/* Common */
.section {
    padding: 4rem;
    text-align: center;
}
.title{
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.max-container{
    margin: auto;
    max-width: var(--size-max-width)
}

/* Header */

header{
    background-color:transparent;
    position: fixed;
    width: 100%;
    padding: 1rem;
    top:0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 1;
    transition: all 300ms ease;
}

.header--dark{
    background-color:var(--color-black);
}
.header_logo{
    display: flex;
    align-items: center;
    gap:8px;
}

.header__logo_img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.header_logo_title{
    font-size: 1.2rem;
    position: relative;
    bottom: 5px;
}

.header_menu{
    display: flex;
    gap: 4px;
}
.header__toggle{
    display: none;
    color: var(--color-white);
    font-size: 1.5rem;
    position: absolute;
    top: 1.1rem;
    right: 1rem;
    cursor: pointer;
}

.header_menu_item{
    padding: 8px 16px;
    display: block;
    border-bottom: 1px solid transparent;

}

.header_menu_item:hover{
    border-bottom: 1px solid var(--color-blue)
}

.header_menu_item.active{
    border-radius: 4px;
    border: 1px solid var(--color-blue)
}

/* Home */

#home{
    text-align: center;
    background-color:var(--color-black);
    padding: 7rem;
    color: var(--color-text);
}
.home__avatar{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit:cover;
    border: 3px solid var(--color-blue)
}

.home__title{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong{
    color: var(--color-blue);
}

.home__description{
    font-size: 1.3rem;

}
.home__contact{
    color: var(--color-black);
    display: inline-block;
    background-color: var(--color-blue);
    padding: 0.5rem 1rem;
    margin: 2rem;
    font-weight: bold;
    border-radius: 4px;
}
.home__contact:hover{
    color: var(--color-white);
    background-color: transparent;
    outline: 2px solid var(--color-blue);
    
}
.home--clear{
    opacity:0
}
.home--dark{
    opacity:1
}

/* About */
.majors {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
}
.major{
    background-color: var(--color-black);
    padding: 2rem 1rem;
    color: var(--color-white);
    border-radius: 1rem;
    cursor: default;
    width: 200px;
}
.major__icon{
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-blue);
    transition: all 300ms ease;
}
.major__title{
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 25px
    
}

.major:hover .major__icon{
    transform: rotate(-15deg) scale(1.2);
}

.jobs{
    text-align: start;
}
.job{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
}

.job__name{
    color: var(--color-black);
}

.job__period{
    color: var(--color-black);
    font-size: 0.8rem;
}

/* skills */

#skills{
    background-color: var(--color-gray);
    color: var(--color-white)
}

.skills{
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    border-radius: 8px;
    overflow: hidden;
}

.skills__title{
    color: var(--color-blue);
    margin: 1rem 0;
    font-size: 1.2rem;

}

.skills__coding{
    grid-row: span 2;
    padding: 1rem;
    background-color: var(--color-black);
}

.skills__tools{
    padding: 1rem;

}

.skills__etc{
    padding: 1rem;
    background-color: var(--color-black);
    filter:brightness(150%);
}

.bar{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.bar__metagdata{
    display: flex;
    justify-content: space-between;
}

.bar___bg{
    width: 100%;
    height: 3px;
    background-color: var(--color-gray);
}

.bar__value{
    height: 3px;
    background-color: var(--color-blue);
}

/* Work */

#work{
    color: var(--color-white);
    background-color: var(--color-black)
}

.categories{
    display: flex;
    justify-content: center;
    margin: 2.5rem;
}

.category{
    color: var(--color-white);
    font-size: 1.1rem;
    padding: 0.5rem 3rem;
    border-radius: 4px;
    border: 1px solid var(--color-blue);
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.category--selected{
    background-color: var(--color-blue);
    color: var(--color-black);
}

.category__count{
    position: absolute;
    opacity: 0;
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: var(--color-orange);
    color: var(--color-white);
    transition: all 250ms ease-in;
    
}

.category--selected .category__count,
.category:hover .category__count {
    opacity: 1;
    top: 0;
}

.projects{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
    transition: all 250ms ease-out;
}

.projects.anim-out{
    opacity: 0;
    transform:scale(0.96) translateY(20px)
}

.project{
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.project__img{
    width: 100%;

}

.project__metadata{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease-in;
    
}

.project__metadata:hover{
    opacity: 0.8;
}

/* Testimonial */

.testimonials{
    margin: 3rem;
}
.testimonial{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

.testimonial:nth-child(even) .testimonial__img{
    order: 1;
}
.testimonial__img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.testimonial__bubble{
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 5px 5px 4px 4px lightgray;
}

.testimonial__bubble__name{
    color: var(--color-blue);
    font-weight: bold;
    filter: brightness(70%);
}

/* Arrow up */
.arrow-up{
    background-color: var(--color-black);
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 5px 5px 0px 0px var(--color-blue);
    transition: opacity 300ms ease-in;
}

/* Footer */

#contact{
    background-color: var(--color-black);
    color: var(--color-white);
}

.contact__links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    padding: 1rem;

}
.contact__link{
    transition: color 250ms ease-in;
}
.contact__link:hover{
    color: var(--color-blue);
}

@media screen and (max-width:768px) {
    .section{
        padding: 4rem 2rem;
    }
    .title{
        font-size: 2rem;
    }
    .description{
        font-size: 1rem;
    }

    .header{
        flex-direction: column;
        align-items: start;
        background-color: var(--color-black);
    }

    .header__toggle{
        display: block;
    }

    .header_menu{
        flex-direction: column;
        text-align: center;
        margin: 1rem 4rem;
        gap: 4rem;
        display: none;
    }

    .header_menu.open{
        display: flex;
    }

    #home{
        padding-bottom: 3rem;
    }

    .home__title{
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
    .home__avatar{
        position: relative;
        right: 40px;
    }

    .majors{
        flex-direction: column;
        align-items: center;
    }
    .major{
        max-width: 25rem;
   
    }
    .job{
        justify-content: center;
    }

    .skills{
        grid-template-columns: 1fr;
    }

    .categories{
        flex-direction: column;
    }
    .category{
        width: 100%;
    }
    .projects{
        grid-template-columns: repeat(2,1fr);
    }

    .testimonial{
        flex-direction: column;
    }
    .testimonial:nth-child(even) .testimonial__img{
        order: 0;
    }

    .arrow-up{
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        bottom: 1.5rem;
        right: 1.5rem;
    }

    .header_nav{
        width: 100%;
    }
    .testimonial__bubble>p:nth-child(2){
        font-size: 12px;
    }
}
