/* Global */
:root {
    /* App color */
    --color-primary:var(var(--color-black));
    --color-primary-variant:var(--color-gray);
    --color-accent-variant:var(var(--color-blue);)
    --color-accent:var(var(--color-blue));
    --color-text:var(--color-white);
--color-white: #ffffff;

--color-black: #050a13;

--color-blue: #03e8f9;

--color-orange: #fd6413;

--color-gray: #1b1e26;
}

*{
    box-sizing: border-box ;
}

body{
    font-family:'Open Sans', sans-serif;
    margin: 0;
}
h1,h2,h3,p,ul{
    margin:0;
}

ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--color-text);
}

button{
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus{
    outline: 1px solid var(--color-orange);
}

/* Header */

header{
    background-color:var(--color-black);
    position: fixed;
    width: 100%;
    padding: 1rem;
    top:0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 2;
}
.header_logo{
    display: flex;
    align-items: center;
    gap:8px;
}

.header__logo_img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.header_logo_title{
    font-size: 1.8rem;
}

.header_menu{
    display: flex;
    gap: 4px;
}

.header_menu_item{
    padding: 8px 16px;
}

.header_menu_item:hover{
    border-bottom: 1px solid var(--color-blue)
}

.header_menu_item.active{
    border-radius: 4px;
    border: 1px solid var(--color-blue)
}

/* Home */

#home{
    text-align: center;
    background-color: #050a13;
    padding: 7rem;
    color: var(--color-text)
}
.home__avatar{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit:cover;
    border: 3px solid var(--color-blue)
}

.home__title{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong{
    color: var(--color-blue);
}

.home__description{
    font-size: 1.3rem;

}
.home__contact{
    color: var(--color-black);
    display: inline-block;
    background-color: var(--color-blue);
    padding: 0.5rem 1rem;
    margin: 2rem;
    font-weight: bold;
    border-radius: 4px;
}
.home__contact:hover{
    color: var(--color-white);
    background-color: transparent;
    outline: 2px solid var(--color-blue);
    
}